<?php
define('ROOT_DIR', '/var/www/pastebin.ca/');
define('HTDOCS_DIR', ROOT_DIR.'htdocs/');
define('SMARTY_DIR', ROOT_DIR.'smarty/');
define('TEMPLATE_DIR', ROOT_DIR.'tpl/');
define('CACHE_DIR', ROOT_DIR.'cache/');
define('PDO_CONN_DSN', 'pgsql:host=localhost;dbname=pastebin');
define('PDO_CONN_USER', 'pastebin');
define('PDO_CONN_PASS', 'password');
define('API_KEY_CRYPTO', 'somelongkeygoesheretoprotectapikeys');
?>
